<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Mapproxy tiler</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/mdb.min.css" rel="stylesheet">
    <link href="static/css/addons/datatables.min.css" rel="stylesheet">
    <link href="static/css/jquery.toast.min.css" rel="stylesheet">

    <link href="static/css/style.min.css" rel="stylesheet">
</head>

<body>
<!--Main Navigation-->
<header>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand waves-effect" href="/">
                <strong class="blue-text">MapProxy Tiler</strong>
            </a>
            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                    %if page=='tasks':
                    <li class="nav-item active">
                        <a class="nav-link waves-effect" href="/">Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="/services">Services</a>
                    </li>
                    % else:
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="/">Tasks</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link waves-effect" href="/services">Services</a>
                    </li>
                    %end
                </ul>
                <!-- Right -->
                <!--<ul class="navbar-nav nav-flex-icons">-->
                <!--<li class="nav-item">-->
                <!--<a href="/en" class="nav-link waves-effect">EN</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--<a href="/" class="nav-link waves-effect">RU</a>-->
                <!--</li>-->
                <!--</ul>-->
            </div>
        </div>
        </div>
    </nav>
</header>

<!--Main layout-->
<main class="mt-5 pt-5">
    {{!base}}
</main>

<!--Footer-->
<footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow">

    <!--Call to action-->
    <div class="pt-4">

    </div>
    <!--/.Call to action-->

    <!--Copyright-->
    <div class="footer-copyright py-3 row">
        <div class="col-lg-6 col-xl-6 ml-xl-6 mb-6">
            © 2018 Copyright: <a href="http://smartgeosystem.com" target="_blank">smartgeosystem.com</a>
        </div>
        <div class="col-lg-6 col-xl-6 ml-xl- mb-6">
            <img src="static/img/logo-white.png" height="20px">
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->

<div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error log</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea class="form-control rounded-0" id="modal_body" rows="8"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="toast" role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
    Link copied to clipboard
</div>

<!-- SCRIPTS -->
<script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="static/js/popper.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/mdb.min.js"></script>
<script type="text/javascript" src="static/js/addons/datatables.min.js"></script>
<script type="text/javascript" src="static/js/clipboard.min.js"></script>
<script type="text/javascript" src="static/js/jquery.toast.min.js"></script>

<script type="text/javascript">
    new WOW().init();
    $('#successTable').DataTable();
    $('#failureTable').DataTable();
    $('#servicesTable').DataTable();

    var clipboard = new ClipboardJS('.btn-clip', {
        text: function (trigger) {
            return trigger.getAttribute('title');
        }
    });

    clipboard.on('success', function(e) {
        $.toast({
            text: "Link copied...",
            icon: 'success',
            showHideTransition: 'fade',
            allowToastClose: true,
            hideAfter: 2000,
            stack: 5,
            position: 'top-right',
            textAlign: 'left',
            loader: true,
            loaderBg: '#9EC600',
        });
    });

    function showLog(filename) {
        $.ajax(
            {
                url: "/log/" + filename,
                success: function (data) {
                    $('#modal_body').val(data);
                    $('#logModal').modal();
                }
            }
        );
    }
</script>
</body>

</html>