% rebase('base.html', page='services')

<div class="container">
    <!--Section: Cards-->
    <section class="pt-5">

        <div class="row wow">
            <div class="col-lg-2 col-xl-2 ml-xl-2 mb-2"></div>
            <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
                <table id="servicesTable" class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Service Name</th>
                        <th scope="col">XYZ Link</th>
                        <th scope="col">TMS Link</th>
                    </tr>
                    </thead>
                    <tbody>
                    % for service in services:
                    <tr>
                        <td>{{ service['name'] }}</td>
                        <td>
                            <button class="btn btn-clip btn-sm btn-green" title="{{ external_url }}{{ service['xyz_url'] }}">Copy</button>
                        </td>
                        <td>
                            <button class="btn btn-clip btn-sm btn-yellow" title="{{ external_url }}{{ service['tms_url'] }}">Copy</button>
                        </td>

                    </tr>
                    % end
                    </tbody>
                </table>
            </div>
            <div class="col-lg-2 col-xl-2 ml-xl-2 mb-2"></div>
        </div>
