% rebase('base.html', page='tasks')

<div class="container">
    <!--Section: Cards-->
    <section class="pt-5">

        <div class="row wow">
            <div class="col-lg-2 col-xl-2 ml-xl-2 mb-2"></div>
            <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
                <h3 class="mb-3 font-weight-bold deep-purple-text">
                    <strong id="waiting">Waiting</strong>
                </h3>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Size</th>
                    </tr>
                    </thead>
                    <tbody>
                    % for task in tasks:
                    % if task.status == 'waiting':
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.size }} Mb</td>
                    </tr>
                    % end
                    % end
                    </tbody>
                </table>
            </div>
            <div class="col-lg-2 col-xl-2 ml-xl-2 mb-2"></div>
        </div>
        <hr class="mb-5">

        <div class="row mt-3 wow">
            <div class="col-lg-2 col-xl-2 ml-xl-2 mb-2"></div>
            <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
                <h3 class="mb-3 font-weight-bold blue-text">
                    <strong id="processing">Processing</strong>
                </h3>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Size</th>
                    </tr>
                    </thead>
                    <tbody>
                    % for task in tasks:
                    % if task.status == 'processing':
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.size }} Mb</td>
                    </tr>
                    % end
                    % end
                    </tbody>
                </table>
            </div>
            <div class="col-lg-2 col-xl-2 ml-xl-2 mb-2"></div>
        </div>
        <hr class="mb-5">

        <div class="row mt-3 wow">
            <div class="col-lg-2 col-xl-2 ml-xl-2 mb-2"></div>
            <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
                <h3 class="mb-3 font-weight-bold green-text">
                    <strong id="success">Successfully</strong>
                </h3>
                <table id="successTable" class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Size</th>
                    </tr>
                    </thead>
                    <tbody>
                    % for task in tasks:
                    % if task.status == 'success':
                    <tr>
                        <td>{{ task.name }}</td>
                        <td><b>{{ task.size }}</b> Mb</td>
                    </tr>
                    % end
                    % end
                    </tbody>
                </table>
            </div>
            <div class="col-lg-2 col-xl-2 ml-xl-2 mb-2"></div>
        </div>
        <hr class="mb-5">

        <div class="row mt-3 wow">
            <div class="col-lg-2 col-xl-2 ml-xl-2 mb-2"></div>
            <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
                <h3 class="mb-3 font-weight-bold red-text">
                    <strong id="failure">Failure</strong>
                </h3>
                <table id="failureTable" class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Size</th>
                        <th scope="col">Log</th>
                    </tr>
                    </thead>
                    <tbody>
                    % for task in tasks:
                    % if task.status == 'failure':
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.size }} Mb</td>
                        <td><a onclick="showLog('{{ task.name }}')"><i class="fa fa-file mr-2 grey-text"></i></a></td>
                    </tr>
                    % end
                    % end
                    </tbody>
                </table>
            </div>
            <div class="col-lg-2 col-xl-2 ml-xl-2 mb-2"></div>
        </div>
    </section>
</div>
